.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 200px; 
    height: 200px;
    padding: 5px;
    opacity: 0.8;
    transition: all 0.5s linear;
}
img:hover{
    opacity: 1;
    width: 220px;
    height: 220px;
}