h1{
    /* font: bold 32px 'Arial'; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant:small-caps;
    font-weight: normal;
    font-style:italic;
    color: aqua;
    font-size: 48px;

}
p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    color: green;
    font-size: 22px;
    /* font:normal 21px "Arial"; */

}