@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    color:white;
    animation: head 2s ease;
}
.logo{
    font-size: 20px;
    font-weight: 500;
    margin:8px;
    padding: 8px;
}
.navbar-links ul{
    display: flex;
    


}
.navbar-links ul li{
    list-style: none;
   
}
.navbar-links ul li a{
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;   
}
.navbar-links ul li a:hover{
    background-color: #2c3e50;
}
.btn{
    position: absolute;
    top:16px;
    right:16px;
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height:3px;
    width: 100%;
    background-color:#fff;
}
@media(max-width:600px)
{
    .btn{
        display:flex;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links{
        width: 100%;
        display: none;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        
    }
    .navbar-links ul li a{
       text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }

}
