@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    font-family: 'Oswald';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

header{
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: orangered;
}

.logo{
    font-weight: 300;
    color: greenyellow;
}
.nav-link{
    list-style-type: none;
    display:flex;
    
    
    
}
.nav-link li{
    padding: 0 20px;
}
.nav-link li a{
    text-decoration: none;
    color: white;
    transition: all .4s linear;

    
}
.nav-link li a:hover{
    color: blue;

}

button{
    border:none;
    border-radius: 50px;
    width: 120px;
    padding: 9px 25px;
    background-color: deepskyblue;
    cursor: pointer;
    color: red;
    transition: all 1s linear;
}
button:hover{
   background-color: red;
   width: 140px;
   color: white;
}


