@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

.layout div{
    border: 1px solid black;

}
.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:15vh 10vh 70vh 5vh ;
    grid-template-areas: " h h h h "
                        "n n n n"
                        "m m m m"
                        "f f f f ";
}
.header{
    grid-area: h;
}
.nav{
    grid-area: n;
}
.footer{
    grid-area: f;
}
.main{
    grid-area: m;
}



.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo{

    font-family: 'Permanent marker';
    border: none;
}
.header .logo a {
    text-decoration: none;
    font-size: 40px;
    color: orangered;
    transition: all .2s ease-in;

}
.header .logo a:hover{
    color: orange;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 10px;
    padding: 10px;
}
.nav ul li a{
    text-decoration: none;
    
    
}
.nav ul li button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color:yellowgreen;
    text-align: center;

}


