*{
    margin: 0;
    padding: 0;
}
html{
    height:100%;
    width: 100%;
    
}
#header,#footer{
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: yellowgreen;
}
#navbar{
    width: 100%;
    height:50px;
    padding: 5px;
    background-color: tomato;
    position: sticky;
    top: 0;
    
}
#content{
    width: 100%;
    background-color: teal;
    padding: 5px;
    color: white;

}
#navbar ul li{
    display: inline-block;
    list-style-type: none;
    padding:10px;
    line-height:30px;
    color: white;
   
}





