/* 
.container
Flex-direction
Flex-wrap
Justify-Content
Align-Content or Align-Item

.box
order
align-self
flex-grow
flex-shrink


*/
.container{
    border: 1px solid black;
    padding: 10px;
    height: 200px;
    width: 1000px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-end; */
    flex-wrap:wrap;
    /* align-content:center; */
   
  



}
.box:nth-child(1){
    /* order: 2;
    align-self: stretch; */
}
.box:nth-child(2){
    /* order: 3;
    align-self: flex-start; */
    flex-grow: 2;
}
.box:nth-child(3){
    /* order: 4;
    align-self: flex-end; */
}
.box:nth-child(4){
    /* order: 5;
    align-self: center; */
}
.box:nth-child(5){
    /* order: 1;
    align-self: self-start; */
}
.box{
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    /* margin: 10px; */
    flex-grow: 1;
    
}