/*
    1.Static 
    2.Relative
        LRTB
    3.Absolute
        LRTB
        Relative
    4.Fixed
    5.Sticky
*/

/* .main{

}

.box1{

   position: fixed;
   left: 5

}

.box2{
   
    
}

.box3{
    
} */