.main{
    border: 5px solid green;
    width: 500px;
    height: 700px;
    background-color: grey;
    font-weight: bold;
}
.box{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-weight: bold;

}
.box1{
    background-color: teal;
}

.box2{
    background-color: tomato;
}

.box3{
    background-color: yellowgreen;
}